body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;

    /* Переливающийся фон с кубиками */
    background: repeating-linear-gradient(
        45deg,
        #ffd700 0px,
        #ffd700 20px,
        #ffec8b 20px,
        #ffec8b 40px
    );
    background-size: 200% 200%;
    animation: moveBG 8s linear infinite;
}

@keyframes moveBG {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}
